/dev/mali                 0666   system     system
/dev/ion                  0666   system     system
/dev/ump                  0666   system     graphics
/dev/exynos-mem           0666   system     graphics
/dev/s3c-mfc              0660   media      graphics
/dev/video0               0660   system     camera
/dev/video1               0660   system     camera
/dev/video2               0660   system     camera
/dev/video3               0660   system     camera
/dev/video11              0666   system     system
/dev/video12              0666   system     system
/dev/video16              0660   system     system
/dev/video20              0660   system     system
/dev/fimg2d               0666   system     graphics
/dev/i2c-0                0666   system     system
/dev/i2c-1                0666   system     system
/dev/i2c-2                0666   system     system
/dev/i2c-3                0666   system     system
/dev/i2c-4                0666   system     system
/dev/i2c-5                0666   system     system
/dev/CEC                  0666   system     system
/dev/HPD                  0666   system     system

# ULP Audio
/dev/srp                  0660   system     audio
/dev/srp_ctrl             0660   system     audio

#for 3G
/dev/ttyUSB0              0666   radio	    radio
/dev/ttyUSB1              0666   radio	    radio
/dev/ttyUSB2              0666   radio	    radio
/dev/ttyUSB3              0666   radio	    radio
/dev/ttyUSB4              0666   radio	    radio
/dev/ttyUSB5              0666   radio	    radio
